<header class="row p-3 center border-bottom border-5">
  <h1 class="col-8">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-auto text-center">
      <a class="btn" href="/signup">
        Sign Up
      </a>
      <a class="btn" href="/signin">
        Caregiver
      </a>
  </nav>
</header>


<section class="p-7">
  <p class="fs-6 m-4 p-3 secondary-round">
    Welcome to the med planner. Your one stop for setting up the appointments you need with the right caregivers. 
    Here you can find your primary physician and specialists and easily see their available appointment times. 
    You can make, change, or cancel your appointments. Use the form below to sign up and just see how easy it all is.
  </p>
</section>
<div class="col-auto center">
<form class="signIn-patient round p-4">
  <div class="row mb-1">
    <h3>
      Patient Sign In
    </h3>
    <div class="col-12">
      <input
        type="email"
        class="form-control round"
        id="email-signIn"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12">
      <input
        type="password"
        class="form-control round"
        id="password-signIn"
        placeholder="Password"
      />
    </div>
  </div>
  <button type="submit" class="btn sign-in">
    Sign In
  </button>
</form>
</div>

<script src="/js/login.js"></script>