<form class="sign-up rounded p-3">
  <div class="row mb-1">
    <h3>
      New Patient
    </h3>
    <label for="firstName-signUp" class="col-sm-1 col-form-label fs-5">
      First:
    </label>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="firstName-signUp"
        placeholder="First Name"
      />
    </div>
  </div>
  <div class="row mb-1">
    <label for="lastName-signUp" class="col-sm-1 col-form-label fs-5">
      Last:
    </label>
    <div class="col-sm-2">
      <input
        type="text"
        class="form-control"
        id="lastName-signUp"
        placeholder="Last Name"
      />
    </div>
  </div>
  <div class="row mb-1">
    <label for="email-signUp" class="col-sm-1 col-form-label fs-5">
      Email:
    </label>
    <div class="col-sm-2">
      <input
        type="email"
        class="form-control"
        id="email-signUp"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="row mb-1">
    <label for="password-signUp" class="col-sm-1 col-form-label fs-5">
      Password:
    </label>
    <div class="col-sm-2">
      <input
        type="password"
        class="form-control"
        id="password-signUp"
        placeholder="Password"
      />
    </div>
  </div>
  <button type="submit" class="btn sign-up">
    Sign Up
  </button>
</form>