<header class="row p-3 center border-bottom border-5">
  <h1 class="col-8">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-auto text-center">
      <a class="btn" href="/">
        Sign In
      </a>
      <a class="btn" href="/signup">
        Sign Up
      </a>
  </nav>
</header>

<section class="p-2 secondary-round mt-4">
    <h2 class="text-center">Caregivers sign in below.</h2>
</section>

<div class="col-auto center">
<form class="signIn-caregiver round p-4">
  <div class="row mb-1">
    <h3>
      Sign In
    </h3>
    <div class="col-12">
      <input
        type="email"
        class="form-control round"
        id="emailCare-signIn"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12">
      <input
        type="password"
        class="form-control round"
        id="passwordCare-signIn"
        placeholder="Password"
      />
    </div>
  </div>
  <button type="submit" class="btn">
    Sign In
  </button>
</form>
</div>
 
 <div class="row p-3">
 <h2 class="center col-6 fs-6 text-center p-2 secondary-round text-dark">If you are not yet a member please call </br> 1(800)456-7890 to get signed up today!</h2>
 </div>

<script src="/js/careLogin.js"></script>