<header class="row p-3 border-bottom border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
      <a class="btn" href="/">
        Sign-In
      </a>
      <a class="btn" href="/signup">
        Sign-Up
      </a>
  </nav>
</header>

<section class="p-3">
    <h2 class="text-center">Caregiver please SignIn below.</h2>
</section>

<div class="col-3 form">
<form class="signIn-caregiver round p-4">
  <div class="row mb-1">
    <h3>
      Caregiver Sign In
    </h3>
    <div class="col-auto">
      <input
        type="email"
        class="form-control round"
        id="emailCare-signIn"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-auto">
      <input
        type="password"
        class="form-control round"
        id="passwordCare-signIn"
        placeholder="Password"
      />
    </div>
  </div>
  <button type="submit" class="btn">
    Sign in
  </button>
</form>
</div>
 
 <div class="p-3">
 <h2 class="text-center text-dark">If not a member please call 1(800)456-7890 to get signed up today!</h2>
 </div>

<script src="/js/careLogin.js"></script>