<header class="row p-3 border-bottom border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
      <a class="btn" href="/">
        Sign In
      </a>
      <a class="btn" href="/signin">
        Caregiver
      </a>
  </nav>
</header>


<div>
<h2 class="p-3 text-center">Sign up with us today!</h2>

<form class="signUp-patient row round p-3 g-3">
  <div class="col-md-3">
    <input type="text" class="form-control round" id="firstName-signup" value="" placeholder="First Name" required>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control round" id="lastName-signup" value="" placeholder="Last Name" required>
  </div>
  <div class="col-md-2">
    <div class="input-group">
      <input type="text" class="form-control round" id="birthdate-signup" value="" placeholder="Birthdate" required>
    </div>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control round" id="phone-signup" value="" placeholder="Phone" required>
  </div>
  <div class="col-md-5">
    <input type="text" class="form-control round" id="address-signup" value="" placeholder="Address, City, State, Zip" required>
  </div>
  <div class="col-md-5">
     <input type="text" class="form-control round" id="email-signup" value="" placeholder="Email" required>
  </div>
  <div class="col-md-5">
     <input type="password" class="form-control round" id="password-signup" value="" placeholder="Password" required>
  </div>
  <div class="col-md-2">
     <select class="form-control round" id="contactPref-signup" required>
       <option selected="selected">Contact Preference</option>
       <option value="text">Text</option>
       <option value="email">Email</option>
       <option value="phone">Phone</option>
      </select> 
  </div>
  <div class="col-12">
    <button class="btn" type="submit">Sign Up</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>