body {
    background-image: none;
    color: black;
}

a {
    color: black;
}

.delete-id {
    width: 2rem;
}


  .modal-content {
    background-color: var(--secondary-color);
    margin: 5% auto 15% auto;
    border: 6px solid rgb(60, 89, 100);
  }
  
  .modal-mine {
    width: 30%;
  }

  .modal-body {
    font-size: smaller;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.modal-body div {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  margin: 5px 0;
  padding-left: 25px;
}

.modal-body div:hover {
  background-color: var(--secondary-color);
}
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  @media screen and (max-width: 300px) {
    .btn {
      width: 100%;
    }
  }