body {
    background-image: none;
    color: black;
}

a {
    color: black;
}

.delete-id {
    width: 2rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--secondary-color);
    padding-top: 50px;
    border: 3px solid rgb(100, 60, 60);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--secondary-color);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 3px solid rgb(100, 60, 60);
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  @media screen and (max-width: 300px) {
    .btn {
      width: 100%;
    }
  }