:root {
    --primary-color: rgb(2, 167, 167);
    --secondary-color: #e0dbdb;
    --tertiary-color: #5e5e63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    background-image: url(/images/doctor-wardrobe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form {
    margin-left: 35%;
}

.round {
    border: 3px solid rgb(100, 60, 60);
    box-shadow: 0 0 10px rgba(100,60,60,0.5);
    border-radius: 20px;
    background: var(--secondary-color);
    background: rgba(235, 228, 228, 0.75);
}

.card-round {
    border: 9px solid rgb(100, 60, 60);
    box-shadow: 0 0 10px rgb(100 60 60 / 50%);
    border-radius: 10px;
    background: rgba(235, 228, 228, 0.75);
}

p {
    color: var(--primary-color);
    font-weight: bolder;
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover, .btn:hover {
color: var(--tertiary-color);
}

.btn {
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 25px;
    background-color: var(--primary-color);
}

footer {
    padding: 50px;
    text-align: center;
}